httpx
Jinja2
fastapi_sessions==0.5.0
fastapi_session[secure]==1.4.0
uvicorn
fastapi
firebase_admin
pymongo
python-multipart
PyPDF2
python-jose
passlib
bcrypt
google-auth 
google-auth-oauthlib
itsdangerous
python-dotenv
wraps
