httpx
Jinja2
fastapi-sessions==0.6.0
uvicorn
fastapi==0.65.2
firebase_admin
pymongo
python-multipart
PyPDF2
python-jose
passlib
bcrypt
google-auth 
google-auth-oauthlib
itsdangerous
python-dotenv
wraps
pyjwt==2.1.0
